<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <h1 style="color: blue;">Hello motherfucker</h1>
    <h1 style="color: red;">This is the fucking homepage</h1>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Logo_of_possible_Nazi_beer.png/220px-Logo_of_possible_Nazi_beer.png" alt="">

    <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{name}} from {{lop}}</h3>
    
</body>
</html>